/*  iphone 6 7 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .about {
    height: 290vh !important;
  }
  .about__info {
    display: flex !important;
    flex-direction: column !important;
  }

  .about__skills {
    width: 300px !important;
    height: 120vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    border-radius: 20px !important;
  }

  .about__description {
    width: 300px !important;
    height: 65vh !important;

    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    border-radius: 5px;

    padding: 10px;
  }
}
/*iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .about {
    height: 250vh !important;
  }
  .about__info {
    display: flex !important;
    flex-direction: column !important;
  }

  .about__skills {
    width: 300px !important;
    height: 120vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    border-radius: 5px;
  }

  .about__description {
    width: 300px !important;
    height: 55vh !important;

    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    border-radius: 5px;

    padding: 10px;
  }
}
/* Desktop*/
.about {
  width: 100%;
  height: 130vh;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 85px;
}

.about > h1 {
}

.about__image {
  width: 250px !important;
  height: 250px !important;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.about__info {
  display: flex;
  align-items: center;
  margin: 50px;
}

.about__skills {
  /* border: 2px solid black; */
  height: 375px;
  width: 700px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 20px;
  background-color: darkgray;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.about__skills > h3 {
  text-align: center;
}
.about__skillsIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about__skillsIcons > span {
  margin: 5px;
}

.about__skillsIcons > span > h3 {
  text-align: center;
}

.about__skillsIcons > span > img {
  height: 100px;
  width: 125px;
}
.about__description {
  margin-left: 50px;
  margin-right: auto;
  border-radius: 20px;
  padding: 10px;
  font-weight: 500;
  text-align: center;
  width: 700px;
  background-color: darkgray;
  font-size: large;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}
